<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <title>ToDo List</title>
</head>
<body>
<h2 class="yellow">Canteen Management System</h2>
<div class="todo-main">
    <div class="todo">
        <input type="checkbox" id="chk" aria-hidden="true">

        <label for="chk" aria-hidden="true" style="margin: 40px">Welcome, {{ .Username }}</label>
        {{ if eq .Role "admin" }}
        <form id="todoForm" enctype="application/x-www-form-urlencoded">
            <input type="text" name="text" placeholder="Add Your ToDo" required>
            <button type="submit">Add ToDo</button>
        </form>
        {{ else }}
        <label for="chk" aria-hidden="true" style="font-size: 15px;margin: 40px">Only admin can add todo!</Label>
        {{ end }}
        <form id="logoutForm" enctype="application/x-www-form-urlencoded">
            <button type="submit">Logout</button>
        </form>
    </div>

    <div class="todolist">
        <ul>
            {{ range $index, $todo := .Todos }}
            <li>
                <form id="toggle-list" enctype="application/x-www-form-urlencoded" style="display:inline;">
                    <input type="hidden" name="index" value="{{ $index }}">
                    <input type="checkbox" {{ if $todo.Done }}checked{{ end }} onchange="this.form.submit()">
                </form>
                {{ if $todo.Done }}
                <div class="text-task">
                    <del>{{ $todo.Text }}</del>
                </div>
                {{ else }}
                <div class="text-task">
                    <p>{{ $todo.Text }}</p>
                </div>

                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>
</body>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        var loggedIn = "{{ .LoggedIn }}";
        var todoLen = "{{ len .Todos }}"
        var role = "{{ .Role }}"

        if (loggedIn === "false") {
            window.location.href = "login.html";
        } else {
            if(role === "admin"){
                document.getElementById('todoForm').addEventListener('submit', function(event) {
                    event.preventDefault(); // Prevent the default form submission
                    const formData = new FormData(this);
                    const jsonData = {
                        text: formData.get('text')
                    };
                    fetch('/add', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(jsonData)
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Adding task failed');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (!data.success) {
                                // If registration is successful, redirect to the root URL
                                window.location.href = '/';
                            } else {
                                console.error('Failed to add todo');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                });

            }

            if (todoLen !== "0") {
                document.querySelectorAll('#toggle-list').forEach(function(form) {
                    form.addEventListener('change', function(event) {
                        var index = event.target.parentNode.querySelector('input[type="hidden"]').value;
                        var checked = event.target.checked;

                        fetch('/toggle', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ index: index, checked: checked })
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Toggle task failed');
                                }
                                return response.json();
                            })
                            .then(data => {
                                if (data.success) {
                                    // Если задача успешно изменена на сервере, обновляем список задач на странице
                                    window.location.reload(); // Перезагружаем страницу для отображения обновленного списка задач
                                } else {
                                    console.error('Failed to toggle todo');
                                }
                            })
                            .catch(error => console.error('Error:', error));
                    });
                });
            }

            document.getElementById('logoutForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission

                console.log('Submitting logout form...');
                fetch('/logout', {
                    method: 'GET',
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Logout failed');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            // If logout is successful, redirect to the root URL
                            window.location.href = '/';
                        } else {
                            console.error('Failed to logout');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        }
    });

</script>
</html>
